<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DSnacker | Checkout</title>
<link th:href="@{/myassets/css/cart/checkout.css}" rel="stylesheet">
</head>

<body>
<header>
		<link rel="stylesheet" th:href="@{/assets/css/fontawesome.min.css}">

		<nav class="navbar navbar-expand-lg navbar-light shadow">

			<div
				class="container d-flex justify-content-between align-items-center">

				<a
					class="navbar-brand text-success logo h1 align-self-center ds-logo-text"
					th:href="@{/}"> DSnacker </a>

				<button class="navbar-toggler border-0" type="button"
					data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
					id="templatemo_main_nav">
					<div class="flex-fill">
						<ul
							class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/shop/list">Shop</a>
							</li>
							<li class="nav-item" sec:authorize="isAnonymous()"><a
								th:href="@{/registration/showRegister}" class="nav-link">Register</a>
							</li>
							<li class="nav-item" sec:authorize="isAuthenticated()"><a
								th:href="@{/customer/showOrders}" class="nav-link">My orders</a></li>
							<li class="nav-item"><a class="nav-link" href="/">About</a></li>
						</ul>
					</div>
					<div class="navbar align-self-center d-flex">
						<div
							class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
							<div class="input-group">
								<input type="text" class="form-control" id="inputMobileSearch"
									placeholder="Search ...">
								<div class="input-group-text">
									<i class="fa fa-fw fa-search"></i>
								</div>
							</div>
						</div>

						<a class="nav-icon d-none d-lg-inline" href="#"
							data-bs-toggle="modal" data-bs-target="#templatemo_search"> <i
							class="fa fa-fw fa-search text-dark mr-2"
							style="font-size: 28px;"></i>
						</a>
						<!-- CART -->
						<a class="nav-icon position-relative text-decoration-none mr-4"
							href="/cart/viewCart"> <i
							class="fa fa-fw fa-cart-arrow-down text-dark mr-2"
							style="font-size: 28px;"></i> <span
							class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
								Cart </span>
						</a> <a sec:authorize="isAnonymous()" style="margin-right: 28px"
							th:href="@{/registration/showLogin}"
							class="nav-icon position-relative text-decoration-none"> <i
							class="fa fa-fw fa-user text-dark mr-3" style="font-size: 28px;"></i>
							<span
							class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
								Login </span>
						</a> <a sec:authorize="isAuthenticated()" style="margin-right: 28px"
							href="#" class="nav-icon position-relative text-decoration-none">
							<i class="fa fa-fw fa-user text-dark mr-3"
							style="font-size: 28px;"></i> <span
							th:text="${#authentication.getPrincipal().getUsername()}"
							class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">
						</span>
						</a>
						<form action="#" th:action="@{/logout}" method="POST"
							sec:authorize="isAuthenticated()">
							<button type="submit" class="btn btn-outline-info btn-sm">Logout</button>
						</form>
					</div>
				</div>

			</div>
		</nav>
		<!-- Close Header -->

		<!-- Modal -->
		<div class="modal fade bg-white" id="templatemo_search" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="w-100 pt-1 mb-5 text-right">
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<form action="" method="get"
					class="modal-content modal-body border-0 p-0">
					<div class="input-group mb-2">
						<input type="text" class="form-control" id="inputModalSearch"
							name="q" placeholder="Search ...">
						<button type="submit"
							class="input-group-text bg-success text-light">
							<i class="fa fa-fw fa-search text-white"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
		<link rel="stylesheet" th:href="@{/myassets/css/home.css}">
		<!-- Start Script -->
		<script th:src="@{/assets/js/jquery-1.11.0.min.js}"></script>
		<script th:src="@{/assets/js/jquery-migrate-1.2.1.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/assets/js/templatemo.js}"></script>
		<script th:src="@{/assets/js/custom.js}"></script>
		<!-- End Script -->
	</header>
	
	<div class="container">
		<!-- FORM FOR DELIVERY -->
		
		<div class="form-delivery">			
			<form th:action="@{/order/makeOrder}" th:object="${ORDER}"
				method="POST" class="needs-validation">
				<h3>Delivery Information</h3>
				<div class="mb-3 input-wrapper">
					<label class="mb-2 text-muted" for="name">Your name</label> <input
						th:field="*{name}" class="form-control"> <small
						class="text-danger fst-italic"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
				</div>

				<div class="mb-3 input-wrapper">
					<label class="mb-2 text-muted" for="phone">Phone</label> <input
						type="text" th:field="*{phone}" class="form-control"> <small
						class="text-danger fst-italic"
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
				</div>

				<div class="mb-3 input-wrapper">
					<label class="mb-2 text-muted" for="address">Address</label> <input
						type="text" th:field="*{address}" class="form-control"> <small
						class="text-danger fst-italic"
						th:if="${#fields.hasErrors('*{address}')}" th:errors="*{address}" />
				</div>

				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary ms-auto">Make
						an order</button>
				</div>
				<hr>
				<input type="hidden" th:name="preparedOrderKey"
					th:value="${PREPARED_ORDER_KEY}">
			</form>
		</div>
	</div>


	<!-- CART -->
	<div id="snippetContent">
		<link rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
		<div class="container px-3 my-5 clearfix">
			<form th:action="@{/cart/performSelectedItems}" method="POST">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<h2>Order Details</h2>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered m-0">
								<thead>
									<tr>
										<th class="text-center py-3 px-4" style="min-width: 400px;">Product</th>
										<th class="text-right py-3 px-4" style="width: 100px;">Price</th>
										<th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
										<th class="text-right py-3 px-4" style="width: 100px;">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="orderDetail : ${ORDER.orderDetails}">
										<td class="p-4">
											<div class="media align-items-center">
												<img
													src="https://bootdey.com/img/Content/avatar/avatar1.png"
													class=" d-block ui-w-40 ui-bordered mr-4 object-fit-cover border rounded item-cart-avt"
													alt="">
												<div class="media-body">
													<a href="#" class="d-block text-dark"
														th:text="${orderDetail.sku}"></a> <small> <span
														class="text-muted" th:text="'SKU: ' + ${orderDetail.sku}"></span>
														<!-- <span class="text-muted"> Color: ... </span> <span
													class="ui-product-color ui-product-color-sm align-text-bottom"
													style="background: #e81e2c;"></span> &nbsp; <span
													class="text-muted">Size: ... </span> -->
													</small>
												</div>
											</div>
										</td>
										<td class="text-right font-weight-semibold align-middle p-4"
											th:text="${orderDetail.price}">$57.55</td>
										<td class="align-middle p-4"><input disabled type="text"
											class="form-control text-center"
											th:value="${orderDetail.quantity}"></td>
										<td class="text-right font-weight-semibold align-middle p-4"
											th:text="${orderDetail.total}">$115.1</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</div>
		<link rel="stylesheet" th:href="@{/myassets/css/home.css}">
</body>

</html>