<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DSnacker | Login</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<section class="h-100">
			<div class="container h-100">
				<div class="row justify-content-sm-center h-100">
					<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
						<div class="text-center my-5">
							<img
								src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
								alt="logo" width="100">
						</div>
						<div class="card shadow-lg">
							<div class="card-body p-5">
								<h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
								<form 
									th:action="@{/registration/performRegister}"
									th:object="${USER}" 
									method="POST"
									class="needs-validation" novalidate=""
									autocomplete="off">
									
									<div class="mb-3">
										<label class="mb-2 text-muted" for="email">Your name</label>
										<input type="text"
											th:field="*{userDetail.fullname}" class="form-control">
										<div class="invalid-feedback">Fullname is invalid</div>
									</div>
									
									<div class="mb-3">
										<label class="mb-2 text-muted" for="name">Username</label>
										<input
											th:field="*{username}" class="form-control">
										<div class="invalid-feedback">Name is required</div>
									</div>

									<div class="mb-3">
										<label class="mb-2 text-muted" for="password">Password</label>
										<input type="password"
											th:field="*{password}" class="form-control">
										<div class="invalid-feedback">Password is required</div>
									</div>

									<div class="mb-3">
										<label class="mb-2 text-muted" for="email">E-Mail</label>
										<input type="email"
											th:field="*{userDetail.email}" class="form-control">
										<div class="invalid-feedback">Email is invalid</div>
									</div>

									<p class="form-text text-muted mb-3">By registering you
										agree with our terms and condition.</p>

									<div class="align-items-center d-flex">
										<button type="submit" class="btn btn-primary ms-auto">
											Register</button>
									</div>
								</form>
							</div>
							<div class="card-footer py-3 border-0">
								<div class="text-center">
									Already have an account? <a href="/registration/showLogin"
										class="text-dark">Login</a>
								</div>
							</div>
						</div>
						<div class="text-center mt-5 text-muted">Copyright &copy;
							2023 &mdash; DSnacker</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<script src="js/login.js"></script>
</body>
</html>